<div class="container">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Create Session Synopsis Record</div>
            </div>
            <div class="panel-body">
                <form id="dataForm" role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3" for="sessionSynopsisNameInput">Session sysnopsis name</label>
                        <div class="col-md-7 input-group-lg">
                            <input type="text" name="sessionSynopsisNameInput" id="sessionSynopsisNameInput" 
                                   class="form-control"
                                   maxlength="100" placeholder="Session synopsis name" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="isVisibleInput">Visibility</label>
                        <div class="col-md-3">
                            <div class="make-switch" data-on="primary" data-off="info">
                                <input type="checkbox" id="isVisibleInput" name="isVisibleInput" checked>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-1"></label>
                        <div class="col-md-10">
                            <div class="pull-right">
                                <input type="button" class="btn btn-primary" value="Save" id="saveButton" />
                                <a class="btn btn-default" asp-action="Index" asp-controler="SessionSynopses">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- end of div element which has the class="panel-body" -->
        </div><!-- end of the div element which has the class="panel" -->
    </div><!-- end of the div element which has class="col-md-offset-2 col-md-8" -->
</div><!-- end of div element which has the class="container" -->
<!-- End of main div element to contain all
        the web form interface elements -->
@section Scripts{
    <link href="~/lib/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-switch/dist/js/bootstrap-switch.min.js" type="text/javascript" ></script>
    <script>
        $("[id='isVisibleInput']").bootstrapSwitch();
        function WebFormData(inSessionSynopsisName, inVisibility) {
            this.sessionSynopsisName = inSessionSynopsisName;
            this.isVisible = inVisibility;
        }
        $('#saveButton').on('click', function () {
        		var collectedSessionSynopsisName = $('#sessionSynopsisNameInput').val();
                var collectedVisibility = $('#isVisibleInput').bootstrapSwitch('state');
        		//Use the object constructor (WebFormData) to construct
                //an object of information
                var webFormData = new WebFormData(collectedSessionSynopsisName, collectedVisibility);
                $requestTracker = jQuery.ajax({
                    type: 'POST',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('RequestVerificationToken', $('input[name=__RequestVerificationToken]').val());
                    },
                    url: '/API/SessionSynopses/CreateSessionSynopsis',
                    dataType: 'json',
                    data: webFormData,
                    contentType: 'application/x-www-form-urlencoded',
                })
                $requestTracker.done(function (data, textStatus, jqXHR) {
                    new Noty({
                        text: data.message, layout: 'center', type: 'success', closeWith: ['click', 'button'],
                        callbacks: {
                            onClose: function () {
                                redirect();
                            },
                        },
                    },
                    ).show();
                });//end of $requestTracker.done()
                $requestTracker.fail(function (data, textStatus, jqXHR) {

                    new Noty({
                        text: data.responseJSON.message, type: 'error',
                        layout: 'center',
                        closeWith: ['click', 'button'],
                        
                    }).show();//end of new Noty()
                });//end of $requestTracker.fail()
        });//end of $('#saveButton').on('click', anonymous function)

        function redirect() {
            window.location.replace('/SessionSynopses/Index');
        }



    </script>
}
