<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>TimeSheet Management System</h2><br />
        You have successfully signed in on Google, but your account has not been verified by the system. 
        Please wait for an admin to set it up.
    </div>
</div>