<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>TimeSheet Management System</h2><br />
        Your account has been verified! Please logout and login again for the registration to finalise
    </div>
</div>