<style>
    #accountNameInput {
        width: 200px;
        height: 50px;
    }

    .bootstrap-timepicker-widget.dropdown-menu {
        width: 225px;
        height: 140px;
    }
    /*.input-lg {
        width:100%;
    }*/
    /*.datepicker-dropdown-menu{
        top:100px;

    }*/

    /*.noty_body {
        width: 80%;

        text-align: center;
        margin: 0px auto;
    }*/
</style>


<div class="col-md-offset-2 col-md-8" id="createTimeSheetDetailControlPanel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title"><h4>Create TimeSheetDetail</h4></div>
            @*<div class="panel-title"><h3>Providing time-in time-out for <u>{{moment(timeSheetDetailData.dateOfLesson).format("DD/MM/YYYY dddd")}}</u> at {{timeSheetDetailData.customerAccountName}} from {{timeSheetDetailData.officialTimeInHHMM}} to {{timeSheetDetailData.officialTimeOutHHMM}}</h3></div>*@
        </div>
        <div class="panel-body">
            <form id="dataForm" name="dataForm" role="form" class="form-horizontal">

                <div class="form-group">

                    <label class="control-label col-lg-3" for="accountNameInput">Account Name</label>
                    <div class="col-lg-6">

                        <select id="accountNameInput" class="form-control input-lg">
                            @*<option value="0">Select Instructor</option>*@
                        </select>

                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-lg-3" for="dateOfLessonInput">Date Of Lesson</label>
                    <div class="col-lg-6">
                        @*<div class="input-group"></div>*@
                        <div class="input-group input-append date" id="dateOfLessonDatePicker">
                            <input type="text" class="form-control input-lg" id="dateOfLessonInput" name="dateOfLessonInput" />
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="officialtimeInInput">Lesson Start Time</label>
                    <div class="col-lg-6">
                        <div class="input-group bootstrap-timepicker timepicker">

                            <input type="text" class="form-control input-lg" id="officialTimeInInput" name="officialTimeInInput" />
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-time"></span></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="officialtimeOutInput">Lesson End Time</label>
                    <div class="col-lg-6">
                        <div class="input-group bootstrap-timepicker timepicker">

                            <input type="text" class="form-control input-lg startDate" id="officialTimeOutInput" name="officialTimeOutInput" />
                            <span class="input-group-addon add-on"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                    </div>
                </div>
                @* Session synopsis *@
                <div class="form-group">
                    <label class="control-label col-lg-3" for="sessionSynopsisNamesInput">Session Synopsis</label>
                    <div class="col-lg-6">

                        <div id="sessionSynopsisNamesInput" class="input-group-lg">

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-3" for="replacementInput">Replacement</label>
                    <div class="col-lg-3">
                        <div class="make-switch" id="replacmentInstructorSwitch" data-on="primary" data-off="info">
                            <input type="checkbox" id="replacementInput" name="replacementInput" class="input-md">
                        </div>
                        <div>
                            <label>
                                *Toggle On for Replacement
                            </label>
                        </div>
                    </div>
                </div>

                @*<div class="form-group">
                    <label class="control-label col-md-3" for="replacementInput">Replacement</label>
                    <div class="col-md-6">
                        <div class="make-switch" id="replacmentInstructorSwitch" data-on="primary" data-off="info">
                            <input type="checkbox" id="replacementInput" name="replacementInput">
                        </div>
                        <p>
                            <label class="col-lg">
                                *Toggle On if Replacement
                            </label>
                        </p>
                    </div>
                </div>*@

                <div class="form-group col-md-12">
                    <label class="control-label col-md-1"></label>
                    <div class="col-md-10">
                        <div class="pull-right">
                            <input type="button" class="btn btn-primary" value="Save" @@click.prevent="createTimeSheetDetail" id="saveButton" />
                            <a id="goToManageTimeInTimeOutDataLink" class="btn btn-default" asp-action="ManageTimeInTimeOutData" asp-controler="TimeInTimeOutData">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- end of div element which has the class="panel-body" -->
    </div><!-- end of the div element which has the class="panel" -->
</div><!-- end of the div element which has class="col-md-offset-2 col-md-8" -->

@section Scripts{
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link href="~/lib/bootstrap-material-design/dist/css/bootstrap-material-design.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-material-design/dist/css/ripples.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />

    @* <link href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" />*@
    @*<script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>*@

    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-timepicker/css/timepicker.css" />
    <link href="~/lib/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />
    @*<link href="~/lib/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet" />*@
    <link href="~/lib/jqwidgets/jqwidgets/styles/jqx.base.css" rel="stylesheet" />

    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="~/lib/bootstrap-switch/dist/js/bootstrap-switch.min.js" type="text/javascript"></script>
    @*<script src="~/lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>*@
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/lib/bootstrap-material-design/dist/js/material.js"></script>
    <script src="~/lib/bootstrap-material-design/dist/js/ripples.js"></script>
    <script src="~/lib/jqwidgets/jqwidgets/jqxcore.js"></script>
    <script src="~/lib/jqwidgets/jqwidgets/jqx-all.js"></script>

    <script>
        window.timeSheetId = getIdFromAddressBar();
        window.sessionSynopsisIdArray = [];

        window.accname = "";

        $.material.init(); //Surprisingly, I need to place this command here so that it can work.

        function getIdFromAddressBar() {
            var urlArray = window.location.href.split('/');
            var id = urlArray[urlArray.length - 1];
            return id;
        };
        $('#goToManageTimeInTimeOutDataLink').attr('href', '/TimeInTimeOutData/ManageTimeInTimeOutData/');

        var vm = new Vue({
            el: '#createTimeSheetDetailControlPanel',
            data: {
                //timeSheetDetailData: {
                //    accountName: '', dateOfLesson: '', officialTimeIn: '', officialTimeOut: '', isReplacementInstructor: '', sessionSynopsisNames: '',
                //},
                moment: moment,
                accountName: '',
                dateOfLesson: '',
                officialTimeIn: '', officialTimeOut: '',
                isReplacementInstructor: '',
                sessionSynopsisNames: '',
                //officialTimeInHHMM,
                //officialTimeOutHHMM,
                //actualTimeInHHMM: '',
                //actualTimeOutHHMM: ''
            },
            //props: ['comments','customerAccountName','dateOfLesson','actualTimeInHHMM','actualTimeOutHHMM','officialTimeInHHMM','officialTimeOutHHMM','actualTimeIn', 'actualTimeOut','status','timeSheetDetailId'],

            mounted() {

                this.setupCustomerAccountListBox();
                this.setupSessionSynopsisNamesListBox();

                $('#dateOfLessonDatePicker').datepicker({
                    autoclose:true,
                    format: 'dd/mm/yyyy',
                    container: '#dateOfLessonDatePicker'
                }).on(
                    'changeDate', () => {

                        dateOfLesson = $('#dateOfLessonInput').val()
                    });
                $("#sessionSynopsisNamesInput").on('change', function (event) {
                    var items = $("#sessionSynopsisNamesInput").jqxComboBox('getSelectedItems');
                    var selectedItems = [];
                    $.each(items, function (index) {
                        selectedItems.push(this.label);
                    });

                    sessionSynopsisIdArray = selectedItems;

                });
            },

            methods: {
                setupCustomerAccountListBox: function () {
                    var that = this;
                    $requestTracker = jQuery.ajax({
                        type: 'GET',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('RequestVerificationToken', $('input[name=__RequestVerificationToken]').val());
                        },
                        url: '/API/InstructorAccounts/GetInstructorAccountsByInstructor',
                        dataType: 'json',
                        contentType: 'application/json'
                    });
                    $requestTracker.done(function (data) {
                        //console.dir(data);
                        var $accountNameInputElement = $('#accountNameInput');

                        var $optionElement = '';

                        for (index = 0; index < data.length; index++) {
                            oneCustomerAccount = data[index];

                            $optionElement = $('<option>')
                                .text(oneCustomerAccount.accountName)
                                .attr('value', oneCustomerAccount.accountName);
                            $accountNameInputElement.append($optionElement);

                            //console.dir($accountNameInputElement)
                        }
                    });


                },
                createTimeSheetDetail: function () {
                    var that = this;
                    console.log('Save button is clicked');

                    if ($('#dataForm').valid() == true) {
                        $saveDataHandler = jQuery.ajax({
                            type: 'POST',
                            url: '/API/TimeSheetDetails/CreateTimeSheetDetail',
                            dataType: 'json',
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader('RequestVerificationToken', $('input[name=__RequestVerificationToken]').val());
                            },
                            data: /*function(mins)*/{



                                dateOfLesson: $("#dateOfLessonInput").val(),

                                officialTimeIn: $("#officialTimeInInput").val(),
                                officialTimeOut: $("#officialTimeOutInput").val(),
                                accountName: $("#accountNameInput").val(),
                                isReplacementInstructor: $("#replacementInput").bootstrapSwitch('state'),
                                sessionSynopsisNames: $("#sessionSynopsisNamesInput").val(sessionSynopsisIdArray),


                            },
                            contentType: 'application/x-www-form-urlencoded',
                        });//end of jQuery.ajax() method call

                        $saveDataHandler.done(function (data, textStatus, jqXHR) {
                            new Noty({
                                text: data.message, type: 'success', layout: 'center',
                                callbacks: {
                                    onClose: function () {
                                        redirect();
                                    },
                                },
                            }).show();
                        });//end of saveDataHandler.done(...)
                        $saveDataHandler.fail(function (data, textStatus, jqXHR) {
                            //var infoFromServer = data.responseJSON.message;
                            new Noty({
                                
                                text: data.message, type: 'error',
                                layout: 'center',
                                //onTemplate: function () {
                                //    this.barDom.innerHTML = '<div class="noty_body">' + this.options.text + '</div>';
                                //    // Important: .noty_body class is required for setText API method.
                                //}
                            }).show();//end of new Noty()
                        });//end of $saveDataHandler.fail()
                    }
                },


                setupSessionSynopsisNamesListBox: function () {

                    var $loadSessionSynopsisNamesHandler = jQuery.ajax({
                        contentType: 'application/json',
                        method: 'get',
                        url: '/api/SessionSynopses/GetSessionSynopsesForControls',

                    });

                    $loadSessionSynopsisNamesHandler.done(function (data, textStatus, jqXHR) {
                        console.dir(data);
                        var sessionSynopsisList = data;
                        $("#sessionSynopsisNamesInput").jqxComboBox({
                            source: sessionSynopsisList, multiSelect: true,
                            width: 250, height: 30,
                            displayMember: 'sessionSynopsisName',
                            valueMember: 'sessionSynopsisId'
                        });


                        $loadSessionSynopsisNamesHandler.fail(function (data, textStatus, jqXHR) {
                            var errMsg = data.responseJSON.message
                            noty({
                                text: errMsg,
                                type: 'error',
                                layout: 'center',
                                template: '<div class="noty_message"><span class="noty_text"></span>'

                            }); //end of noty
                        });

                    });
                },
            }
        });

        $('#officialTimeInInput').timepicker({
            minuteStep: 15,
            secondStep: 59,
            showInputs: false,
            disableFocus: true,
            template: 'dropdown',
            modalBackdrop: true,
            showSeconds: false,
            showMeridian: true
        });
        $('#officialTimeOutInput').timepicker({
            minuteStep: 15,
            secondStep: 59,
            showInputs: false,
            disableFocus: true,
            template: 'dropdown',
            modalBackdrop: true,
            showSeconds: false,
            showMeridian: true
        });

        $("[id='replacementInput']").bootstrapSwitch();

        //redirect to ManageTimeInTimeOutData
        function redirect() {
            window.location.replace('/TimeInTimeOutData/ManageTimeInTimeOutData');
        }


        //-------------------- setup client-side validation logic --------------------------------
        //http://stackoverflow.com/questions/18754020/bootstrap-3-with-jquery-validation-plugin
        jQuery.validator.setDefaults({
            highlight: function (element, errorClass, validClass) {
                if (element.type === "radio") {
                    this.findByName(element.name).addClass(errorClass).removeClass(validClass);
                } else {
                    $(element).closest('.form-group').removeClass('has-success has-feedback').addClass('has-error has-feedback');
                    $(element).closest('.form-group').find('i.fa').remove();
                    $(element).closest('.form-group').append('<i class="fa fa-exclamation fa-lg form-control-feedback"></i>');
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                if (element.type === "radio") {
                    this.findByName(element.name).removeClass(errorClass).addClass(validClass);
                } else {
                    $(element).closest('.form-group').removeClass('has-error has-feedback').addClass('has-success has-feedback');
                    $(element).closest('.form-group').find('i.fa').remove();
                    $(element).closest('.form-group').append('<i class="fa fa-check fa-lg form-control-feedback"></i>');
                }
            }
        });

        setupFormValidationRules();
        function setupFormValidationRules() {

            //////http://forums.asp.net/t/1671546.aspx?Singapore+mobile+phone+validation
            ////jQuery.validator.addMethod('wageRateRule', function (wage_rate, element) {
            ////    return validateDecimal(wage_rate);
            ////}, 'Please specify a valid value. E.g. 100 or 100.50');

            jQuery.validator.addMethod("validTimeFormatRule", function (value, element) {
                //http://stackoverflow.com/questions/23895451/jquery-validate-ignore-custom-validation-rule-if-no-value
                if (this.optional(element) || value.length == 0) {
                    return true;
                }
                else {
                    //http://stackoverflow.com/questions/24380305/validate-date-in-dd-mm-yyyy-format-using-jquery-validate
                    return moment(value, 'hh:mm:ss').isValid();
                }
            }, 'Please enter a valid time in the format hh:mm:ss');
            jQuery.validator.addMethod("endTimeGreaterThanStartTimeRule", function (value, element) {

                var collectedStartTimeValue = $('#officialTimeInInput').val();
                var collectedEndTimeValue = $('#officialTimeOutInput').val();


                //http://stackoverflow.com/questions/23895451/jquery-validate-ignore-custom-validation-rule-if-no-value
                //https://bhavinrana.wordpress.com/2011/05/14/jquery-validation-end-date-should-be-greater-than-start-date/

                //Reference: http://stackoverflow.com/questions/39687278/moment-js-how-to-initialize-from-dd-mm-yyyy-format
                var startTime = moment(collectedStartTimeValue, 'hh:mm:ss');
                var endTime = moment(value, 'hh:mm:ss');
                //alert(startTime);
                //alert(endTime);
                return endTime.isAfter(startTime, 'time')
                //  }
            }, 'Offical lesson End Time should be greater than Start Time.');

            $('#dataForm').validate({

                rules: {

                    officialTimeInInput: {
                        required: true,
                        validTimeFormatRule: true

                    },
                    officialTimeOutInput: {
                        required: true,
                        validTimeFormatRule: true,
                        endTimeGreaterThanStartTimeRule: true
                    }

                },
                messages: {
                    officialTimeInInput: {
                        required: 'Please enter Official Lesson Start Time'
                    },
                    officialTimeOutInput:
                    {
                        required: 'Please enter Official Lesson End Time'
                    },
                },
                errorPlacement: function (error, element) {

                    if (element.attr('name') == 'officialTimeInInput') {
                        error.appendTo(element.parent('div').parent('div'));
                    } else if (element.attr('name') == 'officialTimeOutInput') {
                        error.appendTo(element.parent('div').parent('div'));
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
        }
    </script>
}